html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100vw;
}
h3 {
  display: inline-block;
  padding-left: 3%;
  padding-right: 1%;
  background-color: brown;
  color:white;
}

button {
  outline:0;
  cursor: pointer;
}
#createBtn {
  position: absolute;
  z-index: 1000;
  left: 50px;
  top: 10px;
  border: 3px solid brown;
  background-color: white;
  font-size: 16px;
  color: black;
}

#floorBtn {
  position: absolute;
  right: 30px;
  top:15px;
  z-index: 1000;
}

.floors{
  border: 3px solid brown;
  background-color: transparent;
  color: brown;
  padding: 5px;
  margin-right:3px;
  width:50px;
  height: 35px;
  font-size: 23px;
}

.floor_in{
  background-color: brown;
  color: white;
}

#hover {
  position: absolute;
  z-index: 1000;
  left: 100px;
  top: 10px;
}

#mapid { height: 100%; }
#emapPop {
    position: absolute;
    top:10px;
    left:40px;
    height:800px;
    width: 1000px;
    z-index: 1000;
    background-color: olivedrab;
}

#emapPop_title {
  cursor: move;
}

#emapid {
    height: 730px;
    width: 1000px;
}

.exp{
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: -999;
}


.emapBtn {
    position:absolute;
    bottom: 20px;
    z-index: 1000;
    border: 3px solid brown;
    background-color: white;
    color: black;
    padding: 5px;
    margin-right:3px;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
}


#emapDelete {
  left: 20px;
}
#emapEdit {
  left: 130px;
}

#assetEdit {
  left: 230px;
}

#emapPopClose {
  right: 20px;
}